#menu{
    border: 1px solid black;
}
#elenco{
    border: 1px solid black;
    float: right;
    width: 351px;
}
#sidebar{
    border: 1px solid black;
    float: right;
    margin-left: 50px;
}
#conteiner{
    width: 750px;
    margin: auto;
}
.show-book{
    border: 1px solid black;
    margin-bottom: 20px;
    float: left;
}
#note{
     height: 100px;
}
