#menu{
    border: 1px solid black;
}
#elenco{
    border: 1px solid black;
    float: right;
    width: 478px;
}
#sidebar{
    border: 1px solid black;
    float: right;
    margin-left: 50px;
}
#conteiner{
    width: 750px;
    margin: auto;
}
.show-book{
    border: 1px solid black;
    margin-bottom: 20px;
    margin-left: 10px;
    float: left;
    width: 200px;
}
#note{
     height: 100px;
}
ul li {
    display: inline-block;
    border: 1px solid black;
}
